<ion-header>

</ion-header>

<ion-content>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="textoBuscado" placeholder="Buscar fármacos" debounce="500" animated clearIcon (ionChange)="buscar(textoBuscado)">
        </ion-searchbar>
    </ion-toolbar>
    <ng-container *ngIf="productos == null else resultados">
        <ion-list *ngIf="busquedasRecientes?.length > 0">
            <ion-list-header>
                <ion-label>Búsquedas recientes</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let recientes of busquedasRecientes">
                <ion-text color="primary">
                    <h4>{{recientes.nombreComercialProducto}}</h4>
                </ion-text>
                <ion-button slot="end" fill="clear" (click)="removeReciente(recientes)">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>
    </ng-container>
    <ng-template #resultados>
        <ion-list *ngIf="productos.length > 0">
            <ion-list-header>
                <ion-label>Resultados de búsqueda</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let prd of productos" (click)="clickItemBuscado(prd)">
                <ion-label>
                    <ion-text color="primary">
                        <h2>{{prd.nombreComercialProducto}}</h2>
                    </ion-text>
                    <p>{{prd.laboratorioIdLaboratorioNavigation.nombreLaboratorio}}</p>
                </ion-label>
                <ion-text slot="end" color="secondary">
                    <h4>{{prd.detalleprecio[0]?.precioFarmaco | currency:'CLP':'symbol-narrow'}}</h4>
                </ion-text>
            </ion-item>
        </ion-list>
        <ion-list *ngIf="productos.length == 0">
            <ion-item>No se encontraron resultados</ion-item>
        </ion-list>
    </ng-template>
</ion-content>