<ion-header>

</ion-header>

<ion-content>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="textoBuscado" placeholder="Buscar fármacos" debounce="500" animated clearIcon (ionChange)="buscar(textoBuscado)">
        </ion-searchbar>
    </ion-toolbar>
    <ion-list *ngIf="productos.length !== 0 else busquedasRecientes">
        <ion-list-header>
            <ion-label>Resultados de búsqueda</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let prd of productos">
            <div>{{prd.nombreComercialProducto}}</div>
            <slot></slot>
            <p>{{ prd.laboratorioIdLaboratorioNavigation.nombreLaboratorio }}</p>
        </ion-item>
    </ion-list>
    <ng-template #busquedasRecientes>
        <ion-list>
            <ion-list-header>
                <ion-label>Búsquedas recientes</ion-label>
            </ion-list-header>
            <ion-item>
            </ion-item>
        </ion-list>
    </ng-template>
</ion-content>